.mainbackground{
    margin: 0;
    background: url("BACK.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
}
.screen{
    display: grid;
    grid-template-columns: 20% auto 20%;
    height: 100vmin;
}
.main{
    grid-row: 2/4;
    grid-column: 2/3;    
    text-align: center;

}
.title{
    margin: 130px 0 70px 0;
    color: darkred;
    text-align: center;
}
.marvel{
    width: 600px;
    height: auto;
}

#search{
	font-family: 'Open Sans', sans-serif;
}

#submit, #randos{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

span:hover{
    color: rgb(200,200,200);
    text-decoration: underline;
    cursor: pointer;
}
input[type="text"] {
    width: 600px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: white;
    font-size: 14px;
    color: black;
}
input[type="button"] {
    background-color: #ff3333;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #800000;
    color: white;
}
